@use '../../styles/colors';

.hr {
    width: 1200px;
    height: 0px;
    border: 1px solid #D6D6D6;
    margin: 30px;
}

.messageContainer {
    padding-top: 2%;
    padding-left: 10%;

    .messageTitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 60px;
        padding-bottom: 20px;
    }

    .messageTag {
        margin: 15px;
        padding: 3.21243px 8.03108px;
        width: 70.06px;
        height: 30.42px;
        background: #fee5e4;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16.0622px;
        line-height: 24px;
        color: #ff5852;
    }

    .messageDetails {
        display: flex;
        flex-direction: row;

        .avatar {
            padding-right: 20px;
        }

        .senderDetails {
            display: flex;
            flex-direction: column;
            width: 70%;

            .name {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: #404040;
            }

            .email {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #AEAEAE;
            }
        }

        .date {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            text-align: right;
            color: #C7C7C7;
        }
    }

    .messageContent {
        padding-left: 60px;

        .messageSubject {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #000000;
            padding-top: 5px;
            padding-bottom: 10px;
        }

        .messageBody {
            padding-top: 5px;
        }
    }
}