@use '../../styles/colors';

.container {
    // min-height: 85px;
    padding: 0;
    padding: 1rem 40px 1rem 20px;
    width: 100%;
    border: 1px solid colors.$lightest-grey;
    border-left: none;
    top: 0;
    position: sticky;
    height: 82px;
    display: flex;
    align-items: center;
    z-index: 600;
    background-color: white;

    justify-content: space-between;

    .hamburger {
        display: none;
        border-radius: 100%;
        padding: 10px;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: hsl(210, 14%, 97%);
        }
    }

    .input {
        display: flex;
        align-items: center;
        background: #ffffff;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        padding: 8px 16px;
        max-width: 690px;
        width: 70%;
        gap: 0.5rem;
        position: relative;

        .dropdown {
            position: absolute;
            top: 120%;
            left: 0;
            z-index: 999;

            width: 100%;
            background: #ffffff;

            border: 1px solid #d6d6d6;
            border-radius: 3px;
            padding: 4px 0;

            .dropdownItem {
                display: flex;
                gap: 0.5rem;
                justify-content: space-between;
                align-items: center;
                padding: 6px 12px;
                cursor: pointer;

                &:hover {
                    background: #f5f5f5;
                }

                .name {
                    text-align: left;
                    flex: 1;
                    min-width: 250px;
                }

                .date {
                    text-align: right;
                    min-width: 60px;
                }
            }
        }

        input {
            border: none;
            outline: none;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            width: 100%;
        }
    }

    .profileDetails {
        display: flex;
        align-items: center;
        gap: 1rem;

        .detail {
            display: flex;
            align-items: flex-end;
            // gap: 0.5rem;
            flex-direction: column;
            .post {
                opacity: 0.5;
            }
        }

        .avatar {
            cursor: pointer;
            display: flex;
        }
    }
}

.icon {
    color: colors.$dark-grey;
}

@media screen and (max-width: 780px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;

        .hamburger {
            display: flex;
        }

        .input {
            // width: 70%;
            margin-right: 10px;
            width: 100vw;
            max-width: unset;
        }
    }
}
