@use '../../styles/colors';

.container {
    // min-height: 85px;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    border: 1px solid colors.$lightest-grey;

    display: flex;
    align-items: center;

    justify-content: space-between;

    .input {
        display: flex;
        align-items: center;
        background: #ffffff;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        padding: 8px 16px;
        min-width: 690px;
        gap: 0.5rem;
        position: relative;

        .dropdown {
            position: absolute;
            top: 120%;
            left: 0;
            z-index: 999;

            width: 100%;
            background: #ffffff;

            border: 1px solid #d6d6d6;
            border-radius: 3px;
            padding: 4px 0;

            .dropdownItem {
                display: flex;
                gap: 0.5rem;
                justify-content: space-between;
                align-items: center;
                padding: 6px 12px;

                &:hover {
                    background: #f5f5f5;
                }

                .name {
                    text-align: left;
                    flex: 1;
                    min-width: 250px;
                }

                .issue {
                    // min-width: 100%;
                }

                .date {
                    text-align: right;
                    min-width: 60px;
                }
            }
        }

        input {
            border: none;
            outline: none;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            width: 100%;
        }
    }

    .profileDetails {
        display: flex;
        align-items: center;
        gap: 1rem;

        .detail {
            display: flex;
            align-items: flex-end;
            // gap: 0.5rem;
            flex-direction: column;
            .post {
                opacity: 0.5;
            }
        }

        .avatar {
            cursor: pointer;
        }
    }
}
