.container {
    cursor: pointer;
    border-radius: 2px;
    position: relative;

    .value {
        padding: 6px 12px;
        background-color: hsl(210, 11%, 96%);
        &:hover {
            background-color: hsl(210, 11%, 92%);
        }
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .dropdown {
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        background-color: hsl(210, 11%, 100%);

        border-radius: 5px;

        box-shadow: 0px 0px 5px hsl(210, 11%, 52%, 0.5);

        padding: 4px 0;
        min-width: 140px;

        .dropdownItem {
            cursor: pointer;
            padding: 6px 12px;
            border-radius: 2px;
            // background-color: hsl(210, 11%, 96%);

            &:hover {
                background-color: hsl(210, 11%, 92%);
            }
        }
    }
}
