@use '../../styles/colors';

.fab {
    border-radius: 50%;
    width: 55px;
    min-height: 55px;
    display: none;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: colors.$primary;
    color: white;
    position: fixed;
    bottom: 0.7rem;
    right: 1rem;
    z-index: 1000;
    cursor: pointer;
    outline: none;

    background-position: center;
    transition: background 0.5s;
    &:hover {
        background: colors.$primary
            radial-gradient(circle, transparent 1%, colors.$primary 1%)
            center/15000%;
    }
    &:active {
        background-color: #24a1ff;
        background-size: 100%;
        transition: background 0s;
    }
}

@media screen and (max-width: 780px) {
    .fab {
        display: flex;
    }
}
