@use '../../styles/colors';

.loginButton {
    border-radius: 0.25rem;
    padding: 10px 50px;
    color: white;
    cursor: pointer;
    border: none;
    background: colors.$button-gradient;
}

.headingText {
    color: rgba(97, 117, 138, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 116.5%;
    letter-spacing: 0.3em;
}

.normalText {
    color: rgba(48, 45, 57, 1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 116.5%;
}

.loginContainer {
    margin-top: 18rem;
    margin-left: 7rem;
    margin-right: 7rem;
    // background-color: aliceblue;
}

.vitLogoContainer {
    background-color: aquamarine;
    margin-left: 7rem;
    margin-top: 1rem;
    position: relative;
}

.loginLogo {
    font-family: 'Jandoni';
    font-style: normal;
    font-weight: 400;
    font-size: 175px;
    background: linear-gradient(74.47deg, #ee5622 8.69%, #eca72c 91.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.googleLogo {
    margin-left: 4px;
    margin-right: 4px;
}

.poppinsText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 43px;
    letter-spacing: 0.3em;
}

.bgWrap {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -100;
}

.bgText {
    margin: 0;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    padding-top: 40vh;
    text-shadow: 1px 1px 1px #3c5c5e;
}
