$primary: #1a73e8;
$button-gradient: linear-gradient(90deg, #ee5622 0%, #eca72c 105.29%);
$logo-gradient: linear-gradient(95.35deg, #ee5622 0.92%, #eca72c 29.44%);
$rasin-black: #221e22;
$pine-tree: #1f271b;
$off-White: #fdfdfd;
$lightest-grey: #d6d6d6;
$light-grey: #c7c7c7;
$grey: #b2b2b2;
$dark-grey: #8a8a8a;
$ticket-read-grey: #f3f4f6;
$ticket-selected-blue: #e0f2fe;
$green: #4caf50;
$blue: #2196f3;
$pink: #fee5e4;
$red: #ff5852;
$label-blue: #e3edf9;
$border: 1px solid #dedede;

$status-blue: #38bdf8;
$status-green: #22c55e;
