$primary: #1A73E8;
$button-gradient: linear-gradient(90deg, #ee5622 0%, #eca72c 105.29%);
$logo-gradient: linear-gradient(95.35deg, #EE5622 0.92%, #ECA72C 29.44%);
$rasin-black: #221E22;
$pine-tree: #1F271B;
$off-White:#FDFDFD;
$lightest-grey:#D6D6D6;
$light-grey:#C7C7C7;
$grey:#B2B2B2;
$dark-grey:#8A8A8A;
$ticket-read-grey:#FAFAFA;
$ticket-selected-blue:#F0F7FF;
$green:#4CAF50;
$blue:#2196F3;
$pink:#FEE5E4;
$red:#FF5852;
$label-blue:#E3EDF9;
$border: 1px solid #dedede;
