@use './colors';

.FAQ_max_width {
    max-width: 1300px;
    padding: 1.5rem;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

/* ###################   back button css   ################*/

.FAQ_home .fa {
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #ca4621;
    display: flex;
    align-items: center;

    .arrow {
        margin-right: 4px;
    }
}

/* ###################   home title css   ################*/

.FAQ_home_content {
    font-size: larger;
    padding: 1.5rem;
    text-align: center;
}

.FAQ_home_content h1 {
    font-size: 72px;
    font-weight: 600;
    letter-spacing: -1;
    margin: 0px;
    background: -webkit-linear-gradient(
        0deg,
        rgb(156, 75, 9),
        rgb(221, 114, 26),
        rgb(255, 150, 52),
        rgb(203, 206, 30)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FAQ_home_content span {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -3px;
}

.FAQ_home_content h3 {
    font-weight: 400;
    margin: 0px;
    letter-spacing: 3px;
}

/* ###################   Menu css   ################*/
.collapsible {
    background-color: #fffeff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid 1px colors.$lightest-grey;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 2px;
    border-radius: 3px;
    animation: 0.01s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .chevron {
        display: flex;
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: rotateX(-100deg);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}

.active,
.collapsible:hover {
    background-color: colors.$ticket-selected-blue;
}

.FAQ_content {
    padding: 4px 18px;
    text-align: justify;
    margin-bottom: 10px;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background-color: colors.$ticket-selected-blue;
    border: solid 1px colors.$lightest-grey;
    border-radius: 3px;
    animation: drop 0.3s ease-in 0s 1 normal both;
}

.FAQ_content p {
    margin: 0px;
    padding: 0px;
}

.FAQ_content ul {
    margin-left: 5%;
    margin-top: 5px;
}

.active {
    display: block;
    color: #000;
}

/* ###################   Responsive css section   ################*/

@media (max-width: 485px) {
    .FAQ_home_content h1 {
        font-size: 2.9rem;
    }

    .FAQ_home_content h3 {
        font-size: medium;
        letter-spacing: 0px;
    }

    .FAQ_home_content span {
        font-size: 2.5rem;
    }

    .FAQ_home ul {
        margin-left: 0.2rem;
    }

    .FAQ_content {
        margin: 5%;
        font-size: 0.9rem;
        padding: 0px;
    }
}
