@use './colors';


.overlay{
    padding: 50px 150px;
    background-color: rgba(0, 0, 0, 0.438);

    .container{
        display: flex;
        flex-direction: column;
        // gap: 1rem;
        background-color: white;

        border-radius: 10px;
    }
}


// Page heading
.pageHeading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 43.3726px;
    line-height: 65px;
    text-align: center;
    margin: 0;
    margin-top: 3rem;
    /* text-primary */
    color: #404040;
}

// unordered list
.listBox {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    list-style: disc;
    gap: 1rem;
}
// List items
.listContent {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    // line-height: 30px;   

    /* text-primary */
    color: #404040;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    // margin: 26px 0px;
}
// For Note
.note {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding: 0 5%;

    /* text-primary */
    color: #404040;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 26px 0px;
}

// for checkbox
.guidelinesCheck {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 0 5%;
    /* identical to box height */

    display: flex;
    align-items: center;
    color: #000000;
}
// Button
.continueButton {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px 18px;
    margin: 0 5%;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;

    /* Primary Blue */
    background: colors.$primary;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 20px;
    max-width: max-content;
}
